<div class="sidebar" ng-class="editing ? 'editing' : ''" data-ng-controller="SidebarController" ng-show="user()">
		<div class="side-con">
			<div class="sb-main" ng-show="!editing">
				<a href="/wikiHome"><i class="sb-icon glyphicon glyphicon-home"></i></a>
				<a href="/articles"><i class="sb-icon glyphicon glyphicon-book"></i></a>
				<a ng-click="create()"><i class="sb-icon glyphicon glyphicon-plus"></i></a>
				<a ng-click="edit()" ng-hide="(isActive('/wikiHome') && !isAdmin()) || isActive('/articles')">
					<i class="sb-icon glyphicon glyphicon-pencil"></i>
				</a>
			</div>
			<div class="sb-edit" ng-show="editing">
				<div ng-click="save()"><i class="sb-icon glyphicon glyphicon-ok"></i></div>
				<div ng-click="cancel()"><i class="sb-icon glyphicon glyphicon-remove"></i></div>
				<div ng-click="remove()" ng-hide="isActive('/articles/create') || !isAdmin()"><i class="sb-icon glyphicon glyphicon-trash"></i></div>
			</div>
		</div>
</div>
