<div class="container">
<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<div class="page-header">
		<h1>Table of Contents</h1>
	</div>

	<div data-ng-repeat="dept in departments" class="list-group-item">
	  <h3 class="list-group-item-heading" data-ng-bind="dept"></h3>
		<ul data-ng-repeat="(dep, posts) in articles" ng-if="dep === dept">
			<div data-ng-repeat="post in posts | unique: 'tag'"><h4>{{post.tag}}</h4>
				<ul>
					<li data-ng-repeat="stag in posts | unique: 'subtag'" ng-if="stag.tag === post.tag">{{stag.subtag}}
						<ul>
							<a data-ng-repeat="article in posts" ng-if="stag.subtag === article.subtag" data-ui-sref="articles.view({articleId: article._id})" class="btn-link">
								<h6 class="list-group-item-heading" data-ng-bind="article.title"></h6>
              </a>
						</ul>
					</li>
				</ul>
			</div>
		</ul>
	</div>

	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		No articles yet, why don't you <a data-ui-sref="articles.create">create one</a>?
	</div>
</section>
</div>
