<section data-ng-controller="WikiHomeController" data-ng-init="findHome()">

	<div class="page-header article-header">
		<h1 contenteditable="{{editing}}" ng-model="article.title"></h1>
	</div>

	<div ng-if="editing">
		<small>
			<em class="text-muted">
				<i class="fa fa-clock-o"></i>
				<span>you are currently editing this page</span>
			</em>
		</small>
		<textarea ckeditor="editorOptions" ng-model="article.content">{{article.content}}</textarea>
	</div>

	<p ng-if="!editing" class="lead" ng-bind-html="article.content" ></p>
	
</section>
