<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="page-header article-header">
		<h1 contenteditable="{{isEditing() || isNewPage()}}" ng-model="article.title"></h1>
	</div>
	<small>
		<em class="text-muted">
			<span ng-hide="isEditing() || isNewPage()">
				{{article.tag ? '#' : ''}}<span>{{article.tag}}</span>
				{{article.subtag ? '#' : ''}}<span>{{article.subtag}}</span>
			</span>
			<form class="form-inline" ng-show="isEditing() || isNewPage()">

				<select class="form-control" ng-model="article.department">
					<option value="">department</option>
					<option ng-repeat="dept in departments" value="{{dept}}">{{dept}}</option>
				</select>
				<select class="form-control" ng-model="article.tag">
					<option value="">tag</option>
					<option ng-repeat="tag in tags" ng-if="tag.type === 'tag'" value="{{tag.name}}">{{tag.name}}</option>
				</select>
				<select class="form-control" ng-model="article.subtag">
					<option value="">subtag</option>
					<option ng-repeat="tag in tags" ng-if="tag.type === 'subtag'" value="{{tag.name}}">{{tag.name}}</option>

				</select>
			</form>
			<div>
				<i class="glyphicon glyphicon-time"></i>
				<span ng-hide="isEditing() || isNewPage()">last modified by {{article.user.displayName}} on {{authentication.user.created | date: 'mediumDate'}}</span>
				<span ng-show="isEditing() || isNewPage()">you are currently editing this page</span>
			</div>
		</em>
	</small>
	<div ng-show="isEditing() || isNewPage()">
		<textarea ckeditor="editorOptions" ng-model="article.content">{{article.content}}</textarea>
	</div>
	<p class="lead" ng-bind-html="article.content" ng-hide="isEditing() || isNewPage()"></p>
</section>
