<div class="container">
<section data-ng-controller="ArticleController" data-ng-init="findOne()">

	<!-- Article Title -->
	<div class="page-header article-header">
		<h1 contenteditable="{{editing}}" ng-model="article.title"></h1>
	</div>

	<!-- Article Tags -->
	<small>
		<em class="text-muted">
			
			<form class="form-inline" name="articleTags" ng-if="editing">

				<!-- Department Options -->
				<select class="form-control" ng-model="article.department" required>
					<option value="">department</option>
					<option ng-repeat="dept in departments" value="{{dept}}">{{dept}}</option>
				</select>

				<!-- Tag Options -->
				<select class="form-control" ng-model="article.tag" ng-show="article.tag !== 'new'" ng-disabled="articleTags.$invalid">
					<option value="">tag</option>
					<option ng-repeat="tag in tags" ng-if="tag.type === 'tag'" value="{{tag.name}}">{{tag.name}}</option>
					<option value="new">add new tag</option>
				</select>
				<input type="text" class="form-control" ng-model="newtag.name" ng-if="article.tag === 'new'">
				<button class="btn btn-link" ng-click="article.tag = ''" ng-if="article.tag === 'new'"><i class="glyphicon glyphicon-remove"></i></button>
				<button class="btn btn-link" ng-click="createTag('tag')" ng-if="article.tag === 'new'"><i class="glyphicon glyphicon-ok"></i></button>

				<!-- Subtag Options -->
				<select class="form-control" ng-model="article.subtag" ng-show="article.subtag !== 'new'" ng-disabled="articleTags.$invalid">
					<option value="">subtag</option>
					<option ng-repeat="tag in tags" ng-if="tag.type === 'subtag'" value="{{tag.name}}">{{tag.name}}</option>
					<option value="new">add new subtag</option>
				</select>
				<input type="text" class="form-control" ng-model="newtag.name" ng-if="article.subtag === 'new'">
				<button class="btn btn-link" ng-click="article.subtag = ''" ng-if="article.subtag === 'new'"><i class="glyphicon glyphicon-remove"></i></button>
				<button class="btn btn-link" ng-click="createTag('subtag')" ng-if="article.subtag === 'new'"><i class="glyphicon glyphicon-ok"></i></button>

			</form>

			<span ng-if="!editing">
				{{article.tag ? '#' : ''}}<span>{{article.tag}}</span>
				{{article.subtag ? '#' : ''}}<span>{{article.subtag}}</span>
			</span>

			<!-- Last Contributor -->
			<div>
				<i class="glyphicon glyphicon-time"></i>
				<span ng-if="editing">you are currently editing this page</span>
				<span ng-if="!editing">last modified by {{article.user.displayName}} on {{article.updated | date: 'mediumDate'}}</span>
			</div>

		</em>
	</small>

	<!-- Article Content -->
	<div ng-if="editing">
		<textarea ckeditor="editorOptions" ng-model="article.content">{{article.content}}</textarea>
	</div>

	<p ng-if="!editing" class="lead" ng-bind-html="article.content"></p>

</section>
</div>
