<div class="container">
<section data-ng-controller="TagsController" data-ng-init="find()">
	<div ng-show="tags.$resolved">
		<div class="page-header">
			<h1>Tags</h1>
		</div>

		<div class="row">

			<!-- List of Tags -->
			<div class="col-md-6">

				<div data-ng-repeat="tag in tags | filter: {type: 'tag'}:true | orderBy: 'name'" class="list-group-item">
					<div class="list-group-item-text" data-ng-model="tag.name">{{tag.name}}<button class="rm-tag btn-link" ng-click="removeTag(tag)"><i class="glyphicon glyphicon-remove"></i></button></div>
				</div>
				<div class="list-group-item" ng-click="tag.type = 'tag'" ng-hide="tag.type === 'tag'">
					<div class="list-group-item-text">Click here to add a new tag</div>
				</div>
				<div class="list-group-item" ng-show="tag.type === 'tag'">
					<form class="form-inline">
						<input type="text" class="form-control form-look" data-ng-model="tag.name">
						<button class="btn-link" ng-click="tag.type = null"><i class="glyphicon glyphicon-remove"></i></button>
						<button class="btn-link" ng-click="create()"><i class="glyphicon glyphicon-ok"></i></button>
					</form>
				</div>

			</div>

			<!-- List of Subtags -->
			<div class="col-md-6">
				<div data-ng-repeat="tag in tags | filter: {type: 'subtag'}:true | orderBy: 'name'" class="list-group-item">
					<div class="list-group-item-text" data-ng-model="tag.name">{{tag.name}}<button class="rm-tag btn-link" ng-click="removeTag(tag)"><i class="glyphicon glyphicon-remove"></i></button></div>
				</div>
				<div class="list-group-item" ng-click="tag.type = 'subtag'" ng-hide="tag.type === 'subtag'">
					<div class="list-group-item-text">Click here to add a new subtag</div>
				</div>
				<div class="list-group-item" ng-show="tag.type === 'subtag'">
					<form class="form-inline">
						<input type="text" class="form-control form-look" data-ng-model="tag.name">
						<button class="btn-link" ng-click="tag.type = null"><i class="glyphicon glyphicon-remove"></i></button>
						<button class="btn-link" ng-click="create()"><i class="glyphicon glyphicon-ok"></i></button>
					</form>
			</div>

		</div>
	</div>
</section>
</div>
