<section data-ng-controller="SettingsController">
	<div class="page-header">
		<h2>Settings</h2>
	</div>
	<div class="row">
			<a href="/settings/profile" class="col-md-2" >
				<div class="settings-box">
					<i class="fa fa-user fa-2x"></i>
					<p>Profile</p>
				</div>
			</a>
			<a href="/settings/password" class="col-md-2">
				<div class="settings-box">
					<i class="fa fa-key fa-2x"></i>
					<p>Password</p>
				</div>
			</a>
			<a class="col-md-2">
				<div class="settings-box">
					<i class="fa fa-users fa-2x"></i>
					<p>Users</p>
				</div>
			</a>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div data-ui-view></div>
		</div>
	</div>
</section>
