.home{
  background: url(http://res.cloudinary.com/mezae/image/upload/v1434073368/80RYZDJ8UE_tnh76x.jpg);
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  overflow: hidden;
  opacity: 0.6;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.landing-brand{
  font-size: 60px;
}

.landing-text {
	color: black;
}

.vert-center {
	padding: 10vh 0;
}

.hori-center {
	float: none;
	margin: auto;
}
