.navbar {
	background-color: #9C182F;
	border-bottom: 1px white solid;
}

.navbar-brand {
	font-size: 30px;
	padding: 15px 10px;
	color: white;
}

.navbar-brand:hover {
	color: white;
}

.navbar-nav > li > a {
  color: white;
}

.navbar-right {
	margin-right: 0;
}
